<h1>Edit Wiki: <%= @wiki.title %></h1>

<div id="title-divider"></div>

<div class="row">
	
	<div class="col-md-6">
		<%= form_for @wiki, action: :update do |f| %>
			<div class="form-group">
				<%= f.label 'Wiki Title' %>
				<%= f.text_field :title, class: "form-control" %> 
			</div>
			<div class="form-group">
				<%= f.label 'Wiki Body' %>
				<%= f.text_area :body, class: "form-control" %> 
			</div>
			
			<% if current_user.admin? || current_user.premium? %>
				<div class="form-group">
					<%= f.check_box(:private) %>
					<%= label_tag(:private, "Private Wiki?") %>
				</div>
			<% end %>
			
			<div class="form-group">
				<%= f.submit "Finish Editing", class: "btn btn-primary" %>
			</div>
			
		<% end %>
	</div>
	
	<div class="col-md-6">
		<%= button_to "Delete This Wiki", @wiki, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete \"#{@wiki.title}\"?" } %>
	</div>
	
</div>