<h1 id="wiki-title"><%= @wiki.title %> <%= "(private)" if @wiki.private %></h1>
<div id="title-divider"></div>
<div class="row">
		
	<div id="wiki-body" class="col-md-9">
		<p>Wiki created by: <%= @wiki.user.email %></p>
		<div class="well well-lg">
			<%= markdown(@wiki.body) %>
		</div>
		<% if current_user && @wiki.collaborators.pluck(:user_id).include?(current_user.id) %>
			<p><strong>You are listed as a collaborator on this wiki</strong></p>
		<% end %>
	</div>
	<div class="col-md-3">
		<% if policy(@wiki).edit? %>
			<%= button_to "Edit This Wiki", edit_wiki_path, method: :get, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>