<!DOCTYPE html>
<html>
<head>
  <title>NewRailsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav id="navbar">
		<div id="nav-links" class="pull-left">
			<li><%= link_to "Home", welcome_index_path %></li>
		</div>
		<div id="user-nav" class="pull-right">
			<% if user_signed_in? %>
				Signed in as: <strong><%= current_user.email %></strong> | <% link_to 'Edit Profile', edit_user_registration_path, :class => "navbar-link" %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
			<% else %>
				<% link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> - <% link_to "Sign In", new_user_session_path, :class => 'navbar-link' %>
			<% end %>
		</div>
	</nav>
	
	<div class="alert"></div>
	<div class="notice"></div>

<%= yield %>

</body>
</html>
