<!DOCTYPE html>
<html>
<head>
  <title>NewRailsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav id="navbar">
		<div id="nav-links" class="pull-left">
			<li><%= link_to "Home", "index" %></li>
		</div>
	</nav>

<%= yield %>

</body>
</html>
